@page "/Story/{Slug}"

@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Blog.Interop.Includes

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<StoryState> TheStory
@inject IState<UserState> TheUser
@inject IDispatcher Dispatcher

@if (null == TheStory)
{

}
else if (TheStory.Value.IsNone())
{
    <p class="text-muted">Loading...</p>
}
else
{
    var story = TheStory.Value;
    var user = TheUser.Value.Principal ?? null;

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    @if (null != story.Status.Error)
                    {
                        <p>@story.Status.Error</p>
                    }

                    @if (null != story)
                    {
                        <article id="@story.Slug" class="">
                            <div class="mb-5">
                                <h2 class="">@story.Title</h2>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-calendar"></i>
                                        <TimeLabel DateTime=@story.Published/>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-comment-multiple-outline"></i>
                                        @story.AllCommentsCount Comments
                                    </li>
                                </ul>
                                <div class="justify-content-md-start">@story.Content</div>
                            </div>

                            @if (0 == story.AllCommentsCount)
                            {
                                <div class="alert alert-secondary" role="alert">
                                    <h4>No comments yet</h4>
                                </div>
                            }
                            else
                            {
                                if (story.Closed)
                                {
                                    <div class="alert alert-warning" role="alert">
                                        <h4>Comments are closed</h4>
                                    </div>
                                }

                                <div class="m-lg-2">
                                    <ul class="list-unstyled">
                                        @foreach (var comment in story.Comments)
                                        {
                                            <StoryBlogComment Comment=@comment Level=0/>
                                        }
                                    </ul>
                                </div>
                            }
                        </article>
                    }
                </div>
                <aside class="col-lg-3">
                    <StoryBlogAboutAuthor />
                </aside>
            </div>
        </div>
    </section>
}

@functions
{

    [Parameter]
    protected string Slug
    {
        get;
        set;
    }

    protected override void OnParametersSet()
    {
        const StoryFlags includes = StoryFlags.Authors | StoryFlags.Comments;
        Dispatcher.Dispatch(new GetStoryAction(Slug, includes));
    }
}