@inherits TextEditorComponent

<div class="@ClassString">
    @if (ReadOnly)
    {
        @((MarkupString)Text)
    }
    else
    {
        <div class="rounded rounded-lg">
            <iframe id="__inner_frame_editor_" @ref="InnerFrame" src="about:blank" style="border: none; width: 100%; height: 100%;"></iframe>
        </div>
        <BootstrapButton 
            Type="@BootstrapButtonTypes.Primary"
            Size="@BootstrapButtonSizes.Small"
            Outline=true
            Class="mt-4"
            OnClick="@DoCommit">
            <i class="mdi mdi-content-save-edit"></i>Сохранить
        </BootstrapButton>
    }
</div>