@page "/"

@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Blog.Interop.Includes

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<StoriesState> State
@inject IDispatcher Dispatcher
@inject IUriHelper UriHelper

<div class="row">
    @if (State.Value.IsNone())
    {
        <p>None</p>
    }
    else if (State.Value.IsLoading())
    {
        <div class="container storyblog-loading">
            <div class="row h-100 align-items-center">
                <div class="col-12 justify-content-center text-center">
                    <i class="mdi mdi-loading mdi-spin mdi-48px"></i>
                </div>
            </div>
        </div>
    }
    else if (State.Value.IsFailed())
    {
        <div class="alert alert-danger">
            <h5>@State.Value.Status.Error</h5>
        </div>
    }
    else
    {
        <section class="col-8">
            @foreach (var story in State.Value.Stories)
            {
                <article id=@story.Slug class="card storyblog-story mt-5">
                    <div class="card-header">
                        <ul class="card-subtitle text-muted list-unstyled list-inline">
                            <li class="list-inline-item">
                                <i class="mdi mdi-calendar"></i>
                                @story.Published
                            </li>
                            <li class="list-inline-item">
                                <i class="mdi mdi-comment-multiple-outline"></i>
                                @story.CommentsCount комментариев(ия)
                            </li>
                        </ul>
                    </div>
                    <div class=" card-body storyblog-story-header">
                        <h5 class="card-title storyblog-story-title">
                            <a href="/Story/@story.Slug">@story.Title</a>
                        </h5>
                        <div class="card-text mt-2">@story.Content</div>
                        @*<button class="btn btn-outline-primary mt-4" role="button" onclick="">Читать полностью</button>*@
                        <BootstrapButton Type=BootstrapButtonTypes.Primary Size=BootstrapButtonSizes.Default Outline=true Class="mt-4" OnClick=@OnArticleButtonClick>Читать полностью</BootstrapButton>
                    </div>
                </article>
            }
            
            @if (null != State.Value.Navigation.Next || null != State.Value.Navigation.Previous)
            {
                <nav aria-label="pages">
                    <ul class="pagination">
                        @if (null != State.Value.Navigation.Previous)
                        {
                            <li class="page-item">
                                <a class="page-link">Previous</a>
                            </li>
                        }

                        @if (null != State.Value.Navigation.Next)
                        {
                            <li class="page-item">
                                <a class="page-link">Previous</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </section>
        <aside class="col-4">
        </aside>
    }
</div>

@functions
{
    protected override void OnInit()
    {
        base.OnInit();
        Dispatcher.Dispatch(new GetStoriesAction(StoryIncludes.Authors | StoryIncludes.Comments));
    }

    private void OnArticleButtonClick(UIMouseEventArgs e)
    {
        var slug = "";
        UriHelper.NavigateTo($"story/{slug}");
    }
}