@page "/Story/{Slug}"

@using global::Blazor.Fluxor
@using StoryBlog.Web.Blazor.Client.Store
@using StoryBlog.Web.Blazor.Client.Controls
@using StoryBlog.Web.Blazor.Client.Store.Actions
@using StoryBlog.Web.Services.Blog.Interop.Includes
@using StoryBlog.Web.Services.Shared.Common

@inherits global::Blazor.Fluxor.Components.FluxorComponent

@inject IState<StoryState> StoryState
@inject IState<UserState> UserState
@inject IDispatcher Dispatcher
@inject IPluralLocalizer Pluralizer

@if (null == StoryState)
{

}
else if (StoryState.Value.IsNone())
{
    <p class="text-muted">Loading...</p>
}
else
{
    //var story = StoryState.Value.Story;
    //var user = TheUser.Value.Principal ?? null;

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    @if (StoryState.Value.IsFailed())
                    {
                        <p>@StoryState.Value.Status.Error</p>
                    }

                    @if (StoryState.Value.IsSuccess())
                    {
                        var story = StoryState.Value.Story;

                        <article id="@story.Slug" class="">
                            <div class="mb-5">
                                <h2 class="">@story.Title</h2>
                                <ul class="list-unstyled list-inline text-muted mt-2">
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-calendar"></i>
                                        <TimeLabel DateTime=story.Published />
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="mdi mdi-comment-multiple-outline"></i>
                                        @story.Comments.Count @Pluralizer["комментарий", story.Comments.Count]
                                    </li>
                                </ul>

                                <div class="justify-content-md-start my-4">@((MarkupString)story.Content)</div>

                                @if (story.IsCommentsClosed)
                                {
                                    <div class="alert alert-warning my-2" role="alert">
                                        <h5>Возможность комментировать заблокирована</h5>
                                    </div>
                                }
                                else
                                {

                                    @if (false == story.Comments.Any())
                                     {
                                         <div class="alert alert-secondary my-4" role="alert">
                                             <h5>Добавь комментарий первым</h5>
                                         </div>
                                     }

                                    <CommentBox OnSubmitComment=OnSubmitComment />
                                }

                                @if (story.Comments.Any())
                                {
                                    <div class="m-lg-2">
                                        <ul class="list-unstyled">
                                            <CommentsBlock Comments=@story.Comments />
                                        </ul>
                                    </div>
                                }
                            </div>
                        </article>
                    }
                </div>
                <aside class="col-lg-3">
                    <StoryBlogAboutAuthor />
                </aside>
            </div>
        </div>
    </section>
}

@code
{
    protected ElementRef editor;

    [Parameter]
    protected string Slug
    {
        get;
        set;
    }

    protected override void OnParametersSet()
    {
        const StoryFlags includes = StoryFlags.Authors | StoryFlags.Comments;
        Dispatcher.Dispatch(new GetStoryAction(Slug, includes));
    }

    private void OnSubmitComment(string message)
    {
        Dispatcher.Dispatch(new CreateNewComment(message))
    }
}